@font-face {
    font-family: 'kingdomHearts';
    src: url('fonts/Kingdom_Hearts_Font.ttf');
}

body{
  background: rgb(11,10,28);
}

::-webkit-scrollbar {
  display: none;
}

.radio{
  /*background: purple;
  */width: 100vw;
  height: 25vh;
  box-sizing: border-box;
  --angle: 0deg;
  /*border-image: linear-gradient(var(--angle), green, yellow) 1;*/
  border-top: .75vmin solid;
  border-bottom: .75vmin solid;
  border-left:  1.5vmin solid;
  border-right: 1.5vmin solid;
  animation: 10s rotate linear infinite;
  position: relative;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: 10s rotate linear infinite;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

:root {
  --lowOpacity: 0.72;
  --highOpacity: 0.83;
}

#radio0{
  background-image:  linear-gradient(-90deg, rgba(161, 107, 254, 0.65), rgba(188, 61, 47, 0.65)), url(img/365days.png);
}

#radio1{
  background-image: linear-gradient(-90deg, rgba(212, 252, 120, 0.65), rgba(85, 131, 238, 0.65)), url(img/wiiResort.png);
}

#radio2{
  background-image: linear-gradient(-90deg, rgba(254, 1, 55, 0.65), rgba(57, 0, 255, 0.65)), url(img/lofi.png);
}

#radio3{
  background-image: linear-gradient(-90deg, rgba(115,102,255, 0.65),rgba(186, 216, 10, 0.65)), url(img/pokemon.png);
}

#radio4{
  background-image: linear-gradient(-90deg, rgba(28, 255, 194, 0.65),rgba(188, 45, 255, 0.65)), url(img/destiny2.png);
} 

#container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: auto;
    border-spacing: 0px;
    /* display: none; */
}

table {
    border-collapse: collapse;
  }
  
  table td {
   padding: 0;
  }

.icon{
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    height: 10vh;
    transform-origin: center;
}

.playpause{
  left:0px;
  right: calc(100vw - 25vh);
}

.shuffle{
  left: calc(25vh - 5vh);
  right: calc(100vw - (1.5* (25vh) + 10vh))
}



.title {
  font-family: system-ui;
  font-size: 4.5vw;
  color: white;
  font-weight: 900;
  /* line-height: 250px; */
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  height: fit-content;
  left: 350px;
  right: 0px;
  width: fit-content;
  letter-spacing: -2px;
  /* display: none; */
}
/* .shuffle{
  left: 250px;
} */

/* .button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
  
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
  
    border-style: solid;
    border-width: 37px 0 37px 60px;
  
    &.paused{
      border-style: double;
      border-width: 0px 0 0px 60px;
    }
  
    &:hover {
      border-color: transparent transparent transparent #404040;
    }
  }

  #buttonContainer{
    position: absolute;
    top: 100px;;
  } */

.stage {
  animation: animateBg 2s infinite linear;
  background-color: #fff;
  background-image: linear-gradient(90deg, #da3287, #ffde5e, #da3287, #ffde5e);
  background-size: 300% 100%;
  box-shadow: 0 3px 14px #000;
  border-radius: 1rem;
  height: 200px;
  width: 200px;
}
@keyframes animateBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}